################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proiect_IP/.vs/Proiect_IP/FileContentIndex/de8a3758-aac0-4e24-b970-5e08d6386f63.vsidx
/Proiect_IP/.vs/Proiect_IP/FileContentIndex/2e835d17-d6b0-4ea0-b827-d84a231c2979.vsidx
/Proiect_IP/.vs/Proiect_IP/FileContentIndex/47bb977e-ed86-48e2-825e-985c40cab903.vsidx
